<!DOCTYPE html>
<html>

<head>
    <!-- include our dependency on angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="avatar.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">

    <meta charset="utf-8">
    <title>User Avatar Template</title>
</head>

<body>
    <center>
        <div ng-app='app' ng-controller='mainCtrl'>

            <div class="container">
                <div class="jumbotron">
                    <ul>
                        <h1>Simple profile</h1>
                    </ul>
                

                    <center>
                        <!--Makes the buttons and input boxes centered-->
                        <form name='userForm' ng-submit='addNew(userForm)'>
                            <input id="p1" class="form-control input-lg" placeholder='Name' ng-model='userForm.name' size='200' /><br />
                            <input id="p1" class="form-control input-lg" placeholder='Email' ng-model='userForm.email' size='200' /><br />
                            <input id="p1" class="form-control input-lg" placeholder='Image Url' ng-model='userForm.url' size='200' /><br />
                            <br>
                            <br>
                            <div class="row">
                                <div class="mx-auto"></div>
                                <button id="p2" type="submit" class="btn btn-primary btn-block" size='150'>Add New User</button></a>
                            </div>
                            <!--<button type='submit'>Add New</button>-->
                            <br>
                            <br>
                        </form>
                    </center>

                    <ul class='User-list'>
                        <!--
        ng-repeat loops through the users array bound to the scope of mainCtrl and gives
        us access to the user object in each index so we can reference the user properties
      -->
                        <li ng-repeat='user in users'>
                            <br>
                            <br>
                            <avatar user='user' />
                            <!--<div class='Avatar'>-->
                            <!--  <img ng-src='{{user.avatarUrl}}' />-->
                            <!--  <h3>{{user.email}}</h3>-->
                            <!--  <h4>{{user.name}}</h4>-->
                            <!--</div>-->
                        </li>
                    </ul>
                </div>
    </center>
    </div>

</body>

</html>